.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: rgb(0, 184, 222);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

button, input[type="button"], input[type="submit"] {
  background-color: rgb(0, 184, 222);
  color: white;
  width: 75px;
  border-radius: 5px;
  border: 1px solid white;
}

.add-user-container {
  display: flex;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  border: 1px solid gray;
  border-radius: 15px;
  padding-bottom: 20px;
}

.add-user-title {
  align-self: flex-start;
  padding-left: 20px;
}
.add-user-form {
  display: flex;
  padding-left:20px;
  font-size: smaller;
}

.edit-form-items {
  display: flex;
}

.user-container {
  display: flex;
  justify-content: space-between;
  border: 1px solid gray;
  border-radius: 15px;
  font-size: small;
}

.user-info-container {
  display: flex;
  justify-content: flex-start;
}

.user-info {
  font-family: 'Open Sans', sans-serif;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.user-btn-container {
  margin-right: 10px;
  margin-top: 10px;
}
